@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Pacifico&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
hr{
	height: 1px;
	border:none;
	background: #228b22;
	max-width: 80%;
	margin: 0 auto;
}

.main{
    background: white
    padding: 80px 60px; 
    
}
/*Css de las tablas
#main-container{
    margin: 150px auto;
    width: 600px;*/
#main-container{
    margin-right: 180px;
    margin-left: 100px;
}


/*caracteristicas*/
.titulo{
   
    color: #228b22;
    font-size: 40px;
    text-align: center;
    font-weight: 200;
    margin-bottom: -20px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

img.derecha{
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;	

}

.textual{
	font-family: 'Oswald';

}

.subtitulo{
	font-family: 'Oswald';
	color:#2f4f4f;
    text-align: center;
    margin-bottom: 20px;
}


/*Logo */
.logo{
	font-family: 'Pacifico';
	font-size: 70px;
}
.logo_main{
	height: 200px;
	padding: 20px;
    background: #ffff00;
	color: #228b22;
	cursor: default;
}

.logo_small{
	display: inline-block;
	font-size: 20px;
	padding: 4px;
	margin-right: 50px;
	/*color: #019CDE;*/
    color: #228b22;
	cursor: pointer;
}

.nav{
	float: left;
	width: 100%;
	background: #222;
	padding: 0 20px;
	transition: 3.s ease all;
	backface-visibility: hidden;;
	transform: translate(0, 0, 0);
	-webkit-transform:translate(0, 0, 0);
}

nav .wrap{
	position: relative;;
	left: -150px;
	transition: 0.4s ease all;
}
nav{
	display: inline-block;
}

nav ul{
	display: block;
	padding: 20px;
	margin: 0;
	color: white;
	text-decoration: none;
	transition: 0.2s ease all;
}

nav li{
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav a{
	display: block;
	padding: 20px;
	margin: 0;
	color: white;
	text-decoration:none;
	transition: 0.2s ease all;
}

nav a:hover{
	color: white;
	background: #019CDE;
}
/* Tablas*/
 table{
    width: 50%;
    background: #fffaf0;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px black;
    text-align:left;
    margin-bottom: 20px;
 }

 th{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    font-family: 'Oswald';
    padding: 15px;
   }

 td{
    font-family: 'Oswald';
    padding: 10px;
    text-align: center;
   }

   tr:nth-child(even){
   background-color: #9be15d;

 }
tr:hover{
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);

}


/* Footer */
footer{
    background: #ffff00;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}


.contact-us{
    width: 40%;
    color: #228b22;
    margin-left: 60px;
    font-family: 'Oswald';
}

.brand{
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    
}

.brand+p{
    font-weight: 500;
  
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: #ffff00;
    color: #228b22;
    cursor: default;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #006400;
    border-radius: 50%;
    text-align: center;
    color: #228b22;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}

/* Medida para celulares*/
@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    img.derecha{
	float: right;
	margin-left: 20px;
	margin-top: 80px;

	}
    
}